<div class="filters">
  <mat-form-field>
    <mat-label>Sort</mat-label>
    <mat-select panelClass="sort-select" [(ngModel)]="sort">
      <mat-option value="name">Name</mat-option>
      <mat-option value="-released">Released</mat-option>
      <mat-option value="-added">Added</mat-option>
      <mat-option value="-created">Created</mat-option>
      <mat-option value="-updated">Updated</mat-option>
      <mat-option value="-rating">Rating</mat-option>
      <mat-option value="-metacritic">Metacritic</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="games">
  <div class="game">
    <div class="game-thumb-container">
      <img
        src="https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_download_software_1/H2x1_NSwitchDS_MeltyBloodTypeLumina_image1600w.jpg"
        alt="thumbnail"
        class="game-thumbnail"
      />
    </div>
    <div class="game-description">
      <p class="game-name">Name</p>
      <div class="game-platforms">
        <img
          class="game-platforms"
          src="https://acf.geeknetic.es/imgri/imagenes/noticias/2020/18823-nintendo-switch-update-muestra.jpg?f=webp"
          alt="slug"
        />
      </div>
    </div>
  </div>
</div>
