<div class="game-tabs">
  <mat-tab-group mat-align-tabs="start" backgroundColor="primary">
    <mat-tab label="about">
      <p class="game-tabs-par">
        Platforms:
        <span> PC </span>
      </p>
      <p class="game-tabs-par">
        Publishers:
        <span> Konami </span>
      </p>
      <p class="game-tabs-par">
        Website:
        <a class="game-tabs-link" href="#" target="_blank">http://</a>
      </p>
      <div class="game-description">Some text</div>
      <p class="game-tabs-votes">
        <span>
          <mat-icon class="game-votes-up">thumb_up</mat-icon>
          <span class="game-votes-count">55</span>
        </span>
        <span>
          <mat-icon class="game-votes-down">thumb_down</mat-icon>
          <span class="game-votes-count">14</span>
        </span>
      </p>
    </mat-tab>
    <mat-tab label="Screenshots">
      <img
        class="game-screenshot"
        src="https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_download_software_1/H2x1_NSwitchDS_MeltyBloodTypeLumina_image1600w.jpg"
        alt="screenshot"
      />
    </mat-tab>
    <mat-tab label="Trailers">
      <video class="game-trailer" controls>
        <source src="" />
        Your browser does not support the video tag.
      </video>
    </mat-tab>
  </mat-tab-group>
</div>
